
#contact{
    display: block;
    align-content: center;
    text-align: center;
    border:1px solid black;
    height: 50%;
    line-height: 1.5;
    width: 100%;
    position: relative;
}

/*make the span part such as "Mail:" grey*/
span{
    color: grey;
}

.messageBox{
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    border:1px solid black;

    margin-bottom: 20%;

}

#input{
    width: 100%;
}
