/*set the img and make its border red when hover to guide the visitor to click */
img{
    cursor: pointer;
    height: 20%;
    border: 1px solid black;
    position: absolute;
    right: 20% ;
    top: 5%
}
img:hover{
    border-color: red;
}