.portal{
    position: relative;
    float:left;
    align-content: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.portal a{
    text-align: right;
    font-size: 1vh;
    color: white; /* White text */
    padding: 1%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    height: 3%;
}
.portal a:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
    margin-bottom: 1%;
}
.portal a:hover {
    background-color: lightslategrey;
}