.portal{
    position: relative;

}
.portal a{
    background-color: black; /* Black background */
    color: white; /* White text */
    padding: 1% 2% 2% 1%; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    height: 10%;
    width: 15%; /* Set a width */
    display: block; /* Make the buttons appear below each other */
}
.portal a:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
    margin-bottom: 1%;
}
.portal a:hover {
    background-color: lightslategrey;
}